# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.StockTickerApp.iml
# Datasource local storage ignored files
/../../../../../../../../../../../../../../:\Users\Ayman\OneDrive\Desktop\NAIT\2021_Winter\DMIT2008\Assignments\Assignment01\StockTickerApp\.idea\.idea.StockTickerApp.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
